<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initialscale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input type="checkbox" v-model="ok">
        <h1 v-if="ok">sdagfsagsargfSGsrg但如果萨格fg</h1>
        <h3 v-else>sdfvksdyvf</h3>
    </div>
    <script src="vue.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                ok: "wefweag绕过萨格v萨格VS大哥v萨格v萨芬"
            }
        })
    </script>
</body>

</html>